modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/hookvision-nq: expo"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/hookvision-nt: expo"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/crocguard: expo"

[[workflows.workflow]]
name = "artifacts/hookvision-nq: expo"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/hookvision-nq run dev"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "artifacts/hookvision-nt: expo"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/hookvision-nt run dev"
waitForPort = 25353

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "artifacts/crocguard: expo"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=3001 pnpm --filter @workspace/crocguard run dev"
waitForPort = 3001

[workflows.workflow.metadata]
outputType = "webview"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 3001
externalPort = 80

[[ports]]
localPort = 3002
externalPort = 5000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 19706
externalPort = 3001

[[ports]]
localPort = 19707
externalPort = 6000

[[ports]]
localPort = 25351
externalPort = 3003

[[ports]]
localPort = 25352
externalPort = 3002

[[ports]]
localPort = 25353
externalPort = 3000

[[ports]]
localPort = 25354
externalPort = 4200

[[ports]]
localPort = 25355
externalPort = 5173

[[ports]]
localPort = 25628
externalPort = 8000
